@charset "UTF-8";

* {
    margin: 0; 
    padding: 0; 
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 16px;
}
 
header {
	/* 화면 고정 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    /* 기본 설정 */
    height: 60px;
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #2C304D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* 상단바 밑부분 표시 */
    border-bottom: solid 2px;
    border-bottom-color: #4271CE;
/*     z-index: 999; */
}

body {
    background-color: #2C304D;
    color:#FFFFFF;
    padding-top: 130px;

/*     padding: 10px; */
    font-weight: bold;
/*     justify-content: space-between; */
/*     align-items: center; */

}

a{
    text-decoration: none;
    font-weight: bold;
}

a:link, a:visited {color: #FFFFFF;}
a:hover, a:active {color: #4271CE;}

.logo {
    float: left;
    padding: 10px;
    margin: 10px;
}

.menu {
    float: right;
    overflow: hidden;
    list-style: none;
}

.menu li {
	float: left;
	padding: 10px 0 10px 20px;
}



