@charset "UTF-8";

* {
    margin: 0; 
    padding: 0; 
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}

.parent {
  display: flex;
  border: 2px dotted;
  padding: 6px;
  height: 650px;
}

.parent .child{
  flex: 1;
  text-align: center;
}

.toMe{
    background-color: #f9b78e;
}    
.toFriend{
    background-color: #9ee0a5;
}
.toSky{
    background-color: #ca9bc0;
}

provision {
	text-decoration: underline;
	color: #4271CE;
}