@charset "UTF-8";

* {
    margin: 0; 
    padding: 0; 
    font-family: 'Noto Sans KR', sans-serif; 
    font-size: 18px;
}

.joinAll{
    width: 480px;
    height: 650px;
    margin: 0 auto;
}

#loginInfo, #joinInfo {
	margin: 10px 0 20px 10px;
	font-size: 22px;
}

#passCheck {
	margin-bottom: 30px;
}