@charset "UTF-8";

* {
	outline:0;
    margin: 0; 
    padding: 0; 
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
}

html {
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #2C304D;
}
canvas {
	width: 100%;
	height: 100%;
}

.letter{
	transition: 2s ease-in;
}

.letter:hover{
	transform:rotate(360deg) ;
	
}
