<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmmb.mapper.MemberMapper">

    <select id="loginCheck" resultType="com.tmmb.domain.MemberBean">
        SELECT * FROM member WHERE id=#{id} AND pass=#{pass}
    </select>  
  
  
  
  
    
</mapper>